* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainGreen: #82b340;

body {
  background: $mainGreen;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif;
}
